# Ignore virtual environment
venv/
.venv/

.gitignore

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS-specific files
.DS_Store

# Ignore log files
*.log

# Ignore environment files
.env
